#Data Types and Structure

1.What are data structures, and why are they important?
 - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
 - Why are they important?

   Choosing the right data structure significantly impacts the efficiency and performance of your program.
   
   Well-chosen data structures can:

   Simplify data manipulation (adding, removing, modifying elements) ,
   Optimize searching and sorting operations ,
   Conserve memory usage.

2.Explain the difference between mutable and immutable data types with examples.
 - In programming, especially in languages like Python, mutable and immutable refer to whether or not an object’s value can be changed after it has been created.
 - Mutable Data Types
  - Mutable objects can be changed after they are created. This means their content (e.g., elements, values) can be altered without changing their identity (memory address).
  -Examples: list ,dict (dictionary),set.
 - Immutable Data Types
  - Immutable objects cannot be changed after they are created. If you try to change their value, a new object is created.
  -Examples: int, float, bool, str,tuple.

3. What are the main differences between lists and tuples in Python?
- Differences are :
  -  list is mutable and tuple is immutable data types.
  -  performance of tuple is faster than list.
  -  for list we use Square brackets [ ],and for tuple we use Parentheses ( ).
  - list use for dynamic data and tuple use for static data.

4. Describe how dictionaries store data?
-  A dictionary (also called a hash map or associative array) is a data structure that stores key-value pairs. Each key maps to a value, and you can retrieve the value efficiently by using the key.

5.Why might you use a set instead of a list in Python?
 -  Using a set instead of list, when:
  - I need to remove duplicates.
  - I care about fast membership checking.
  - I want to do set math (like union, intersection).
  - I don’t care about order.
  - Sets are fast and clean — great for storing unique, unordered data.

6. What is a string in Python, and how is it different from a list?
-  A string is a sequence of characters — like letters, numbers, or symbols — enclosed in quotes.
- A string is for handling text, and it can’t be changed once created, A list can hold any type of data, and it can be modified.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python by being **immutable**, meaning their contents cannot be changed after creation. This prevents accidental modification of important or constant data. Because they're immutable, tuples are also **hashable**, making them safe to use as dictionary keys. They're ideal for grouping fixed data like coordinates or records. This helps maintain **consistency and reliability** in your programs.

8.What is a hash table, and how does it relate to dictionaries in Python?
 - A **hash table** is a data structure that stores data in **key-value pairs**, using a **hash function** to quickly find values by their keys. In Python, a **dictionary** is built on top of a hash table.

When you use a dictionary:

* Python **hashes the key** to get a number.
* That number determines **where to store or find** the value in memory.
* This makes lookups, insertions, and deletions **very fast (average O(1))**.

So, a Python dictionary is basically a **user-friendly interface** to a powerful **hash table** behind the scenes.

9. Can lists contain different data types in Python?
-  Yes, lists in Python can contain different data types.
   Python lists are heterogeneous, meaning they can store a mix of:
   - Integers (int)
   - Floats (float)
   - Strings (str)
   - Booleans (bool)
   - Other lists, dictionaries, or even functions and objects

10. Explain why strings are immutable in Python?
- Strings in Python are immutable, meaning they can't be changed after creation. This improves memory efficiency and performance since Python can reuse string objects. It also makes strings safe to use as dictionary keys. Immutability helps prevent bugs by avoiding accidental changes to data.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer faster lookups because they use keys and a hash table structure.
They allow direct access to values using meaningful keys instead of numeric indexes.
Dictionaries are ideal for storing related data pairs (like name → age).
They make code more readable and organized, especially for structured data.
Unlike lists, dictionaries automatically prevent duplicate keys, ensuring data consistency.

12.Describe a scenario where using a tuple would be preferable over a list?
- A good scenario to use a **tuple instead of a list** is when you have **fixed data that shouldn’t change**, such as the coordinates of a point on a map.

For example, `(latitude, longitude)` represents a location — these values shouldn’t be modified accidentally. Using a tuple ensures the data stays **immutable**, protecting its integrity.

Also, if you want to use these coordinates as **keys in a dictionary** (e.g., mapping locations to names), tuples are necessary because only immutable types can be dictionary keys.

So, tuples are preferable when you need **fixed, hashable, and reliable data**.

13. How do sets handle duplicate values in Python?
- Sets in Python automatically remove duplicate values. When you add items to a set, it only keeps one copy of each unique element, so duplicates are ignored.

For example:
  -  my_set = {1, 2, 2, 3, 3, 3}
    print(my_set)  # Output: {1, 2, 3}

14.How does the “in” keyword work differently for lists and dictionaries?
- In a list:
in checks if a value exists by scanning each element one by one (a linear search).
- In a dictionary:
in checks if a key exists using a fast hash lookup (not by values).

15.Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple because tuples are immutable in Python. This means once a tuple is created, its contents cannot be changed — you can’t add, remove, or update elements.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where some of the values are themselves dictionaries. This lets you store data in a hierarchical or multi-level structure.
Example Use Case:
Suppose you want to store information about students and their grades in different subjects:

In [ ]:
students = {
    "Alice": {"Math": 90, "English": 85},
    "Bob": {"Math": 75, "English": 80},
    "Charlie": {"Math": 88, "English": 92}
}
#Here, each student’s name maps to another dictionary that holds their grades by subject.

17.Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a dictionary generally has an average time complexity of O(1) (constant time). This means you can retrieve a value by its key very quickly, regardless of the dictionary’s size.

18.In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when:

1. **Order matters** — lists maintain the order of items, which is important for sequences or when you need to access elements by position.
2. **You have simple collections of items** without needing key-value pairs.
3. **You need to store duplicate elements**, since lists allow duplicates while dictionary keys must be unique.
4. **You want to iterate through items in a specific order** (like looping by index).
5. **Memory efficiency** — lists generally use less memory than dictionaries for storing simple sequences.

So, use lists when you want an ordered, index-based, and possibly duplicate collection of items.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Why Are Dictionaries Unordered?
  -  Internally, dictionaries use hash tables, which store items based on hashed keys, not insertion order. This means the order of key-value pairs can seem random and change when the dictionary changes.
- How Does This Affect Data Retrieval?
   - You cannot rely on the order of items when iterating over a dictionary. Data retrieval by key is still fast and direct, but if order matters, you need to use other structures (like collections.OrderedDict in older Python versions).

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Here’s the difference between list and dictionary data retrieval:

List:
You retrieve items by their index position (like my_list[2]).
Searching for a value by content (x in my_list) requires checking elements one by one — this is slower (O(n)).

Dictionary:
You retrieve items by their key (like my_dict["key"]).
Thanks to hashing, looking up a value by key is very fast (average O(1)), no matter how large the dictionary is.

# Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
name = "Suman Kar"
print("My name is:",name)

My name is: Suman Kar

2. Write a code to find the length of the string "Hello World".

In [3]:
string = "Hello World"
q=len(string)
print( "The length is:",q)

The length is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
string1 = "Python Programming"
sliced_string1= string1[:3]
print ( sliced_string1)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [5]:
string2 = "hello"
upper_string2 = string2.upper()
print(upper_string2)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
lst =  [1, 2, 3, 4]
lst.append(10)
print(f'new list is:{lst}')

new list is:[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [12]:
list1= [1, 2, 3, 4, 5]
list1.remove(3)
print(f"New list is:{list1}")

New list is:[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
list2=  ['a', 'b', 'c', 'd']
second = list2[1]
print (f'Second element is:{second}')

Second element is:b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [18]:
list3= [10, 20, 30, 40, 50]
reversed_list = list3[::-1]
print("Reverse list is:",reversed_list)

Reverse list is: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [19]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [20]:
my_tuple1 = ('red', 'green', 'blue', 'yellow')
h=my_tuple1[1:]
print(h)

('green', 'blue', 'yellow')

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [21]:
my_tuple2 = (10, 20, 5, 15)
minimum_value = min(my_tuple2)
print (f'The minimum number in the tuple is:{minimum_value}')

The minimum number in the tuple is:5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
animals =  ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
  print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [28]:
set1 = {'a', 'b', 'c'}
print(f'The set is:{set1}')

The set is:{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [29]:
set2 = {1, 2, 3, 4, 5}
set2.clear()
print (set2)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [30]:
set3 = {1, 2, 3, 4}
set3.remove(4)
print (set3)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [31]:
set4 = {1, 2, 3}
set5 = {3, 4, 5}
union_set = set4|set5
print(f'Union of two sets is:{union_set}')

Union of two sets is:{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [33]:
set6 = {1, 2, 3}
set7 = {2, 3, 4}
intersaction_set = set6 & set7
print ('Intersection of two sets is:',intersaction_set)

Intersection of two sets is: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [34]:
my_dict = {'name': 'Suman Kar', 'age': 24, 'city': 'Kolkata'}
print(my_dict)

{'name': 'Suman Kar', 'age': 24, 'city': 'Kolkata'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [35]:
my_dict1 =  {'name': 'John', 'age': 25}
my_dict1['Country']='USA'
print(my_dict1)

{'name': 'John', 'age': 25, 'Country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
my_dict2 =  {'name': 'Alice', 'age': 30}
my_dict2['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [37]:
my_dict3 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict3['age']
print(my_dict3)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [38]:
data = {'name': 'Alice', 'city': 'Paris'}

if 'city' in data:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [39]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [40]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [45, 59, 70, 71, 80]

28.  Write a code to create a list with strings and print the element at the third index.

In [41]:
lst5 = ['suman', 'raju','laila','bhalu', 'golu']
print('Element at the third index is:',lst5[3])

Element at the third index is: bhalu

29.  Write a code to combine two dictionaries into one and print the result.

In [42]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = dict1.copy()
combined_dict.update(dict2)
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [43]:
fruits = ['apple', 'banana', 'cherry', 'apple', 'banana']
fruits_set = set(fruits)
print("Set:", fruits_set)

Set: {'apple', 'cherry', 'banana'}